.section-content-header {
    h3 {
        font-family: "Merriweather Sans";
        font-size: 30px;
        font-weight: 500;
        color: #000;
    }
    span {
        color: #8d8d8d;
        font-weight: normal;
        font-size: 18px;
    }
    .description {
        margin-top: 16px;
        line-height: 28px;
        color: #363636;
        font-weight: 400;
        font-size: 16px;
    }
}

.section-profile-content {
    margin-top: 70px;
    h3 {
        font-family: "Merriweather Sans";
        font-size: 30px;
        font-weight: 500;
        color: #000;
    }
    span {
        color: #8d8d8d;
        font-weight: normal;
        font-size: 18px;
    }
    .a-information {
        color: #8d8d8d;
        font-weight: normal;
        font-size: 18px;
    }
    p {
        color: #363636;
        font-weight: normal;
        font-size: 18px;
    }
    label {
        margin-bottom: 10px;
        margin-top: 16px;
        color: #363636;
        font-weight: normal;
        font-size: 18px;
    }
}

.section-education-content {
    span {
        color: #8d8d8d;
        font-weight: normal;
        font-size: 18px;
    }
    .figure {
        h5 {
            color: #000;
            font-weight: 500;
            font-family: "Merriweather Sans";
            font-size: 20px;
        }
        p {
            color: #363636;
            font-weight: 400;
            font-size: 16px;
        }
    }
    .figure {
        img {
            max-height: 80px;
        }
    }
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: auto;
}

.underline {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
}